.ul{
    display: flex;
    justify-content: flex-end;
    background-color: #069A8E;
    list-style-type: none;
    padding: 20px;
    margin: 0;
}
.link a{
    background-color: #4E944F;
    padding: 10px;
    color: whitesmoke;
    animation: 2s ease all ;
    margin-right: 1rem;
    text-decoration: none;
    box-shadow: 2px 2px 5px black;
}
.link a:hover{
    text-decoration: underline;
}